<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModelExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ModelExport.Properties.Settings>
            <setting name="PathPies" serializeAs="String">
                <value>E:\Projects\WZ2100\flaME\data\3.1_b4-objects\pies\</value>
            </setting>
            <setting name="PathTexpages" serializeAs="String">
                <value>E:\Projects\WZ2100\flaME\data\3.1_b4-objects\texpages\</value>
            </setting>
            <setting name="PathWMIT" serializeAs="String">
                <value>E:\Projects\WZ2100\WMIT 0.7.0\WMIT.exe</value>
            </setting>
            <setting name="PathTemp" serializeAs="String">
                <value>E:\Projects\WZ2100\ModelTemp\</value>
            </setting>
        </ModelExport.Properties.Settings>
    </userSettings>
</configuration>